
/* fonts styling */

p, a, span, button {
    font-family: 'Lato', sans-serif;
}

h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

h3, h4, h5, h6, label {
    font-family: 'Ubuntu', sans-serif;
}

/* Grid styling */ 

.grid {
    display: grid;
    width: 100%;
    min-height: 100%;
    grid-template-columns: 10px repeat(12, 1fr) 10px;
    grid-template-rows: 9.375rem 2.5rem 21.875rem 2.5rem repeat(9, 1fr) 2.5rem;
}

/* logo styling */

.logo {
    background-image: url("./Resources/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% auto;
    grid-area: 1 / 3 / 2 / 7;
}

/* nav styling */ 

.navbar {
    border-top: gray 1px solid;
    border-bottom: gray 1px solid;
    grid-area: 2 / 1 / span 1 / span 14;
}

.navbar a {
    display:inline-block;
    padding: 0.7rem;
    margin-left: 0.25rem;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* promo banner styling */

.promoBanner {
    display: flex;
    grid-area: 3 / 1 / span 1 / span 14;
    border-bottom: gray solid 1px;
    width: 100%;
    height: 100%;
    background-image: url("./Resources/catanback.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;   
}

.promoBanner a {
    text-decoration: none;
    background-color: black;
    padding: 1rem;
    border-radius: 15px;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

/* left hand coloumns (events / filter search) */

.events_Search {
    font-weight: 300;
    font-size: 1.25rem;
    border: gray solid 1px;
    box-shadow: 3px 6px #888888;
    grid-area: 5 / 2 / span 2 / span 2;
    text-align: center; 
}

label {
    margin: 0.5rem;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    box-shadow: 2.5px 5px  #e7e7e7;
    transition: duration 0.4ms; 
    font-size: 1.1rem;
    padding: 0.25rem;
    margin: 0.5rem; 
}

button:hover {
    background-color:#e7e7e7;
}

/* central coloumns (events) styling */

.events_Container {
    grid-area: 5 / 6 / span 9 / span 4;
}

.events_Container .event_auto_flow {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.events_Container .event_auto_flow h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: center;
}

.event {
    border:gray solid 1px;
    box-shadow: 5px 10px #888888;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.event img {
    float: left;
    height: 150px;
    width: 100px;
    margin-right: 0.5rem ;
}

.event h6 {
    font-style: italic;
}

/* right hand columns (featured games */

.featured_Games {
    grid-area: 5 / 11 / span 9 / span 3;
    }

.featured_Games h3 {
    font-size: 1rem;
    font-weight: 350;
    text-align: center;
}

.gameContainer {
    border: gray solid 1px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.gameContainer h4, .gameContainer img, .gameContainer p, .gameContainer a {
    margin: 0.5rem;
}

.gameContainer a {
    text-decoration: none;
    background-color: black;
    padding: 1rem;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.gameContainer img {
    height: 200px;
    width: 150px;
}    

 /* footer styling */   

 footer {
    border-top: gray 1px solid;
    border-bottom: gray 1px solid;
    grid-area: 14 / 1 / span 1 / span 14;
 }

 @media only screen and (max-width:480px) {

    body {
        font-size: 0.75rem;
    }
    .grid {
        grid-template-columns: 1fr 10px 1fr 1fr;
        grid-template-rows: 6rem 2.5rem 2.5rem repeat(8, 1fr) repeat(2, 2.5rem);
        
    }

    .logo {
        grid-area: 1 / 2 / 2 / 5;
    }

    .navbar {
        grid-area: 2 / 1 / span 1 / 5;
    }

    .promoBanner {
        display:none;
    }

    .events_Search {
        grid-area: 4 / 1 / span 1 / span 1; 
    }

    .button {
        font-size: 1rem;
    }
    .events_Container {
        grid-area: 4 / 3 / span 8 / 5;
    }

    .event h3 {
        font-size: 1.25rem;
    }


    .featured_Games {
        display:none;
    }

    footer {
        grid-area: 13 / 1 / 14 / 5  ;
    }
}

/* Tablet grid styles */

@media only screen and (max-width:1024px)
                   and (min-width:481px)
                   {
    .grid {
        grid-template-columns: 10px repeat(9, 1fr) 10px;
        grid-template-rows: 9.375rem 2.5rem 21.875rem 2.5rem repeat(9, 1fr) 2.5rem;
    }

    .logo {
        grid-area: 1 / 2 / 2 / 8;
    }

    .navbar {
        grid-area: 2 / 1 / span 1 / span 12;
    }

    .promoBanner {
        grid-area: 3 / 1 / span 1 / span 12;
    }

    .events_Search {
        grid-area: 5 / 2 / span 2 / span 2;
    }
    .events_Container {
        grid-area: 5 / 5 / span 9 / span 4;
    }

    .featured_Games {
        display:none;
    }

    footer {
        grid-area: 14/ 1 / 14 / 15;
    }
}
